@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-image: linear-gradient(160deg, #af67e9 0%, #6565e7 90%);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  position: relative;
  background-color: #fff;
  width: 60%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
}

@media screen and (max-width: 1350px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 70vh;
  }
}

.bg-box {
  position: absolute;
  z-index: 1000;
  top: 22rem;
  left: -8rem;
}

@media screen and (max-width: 1350px) {
  .bg-box {
    display: none;
  }
}

.image {
  position: relative;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-size: 90vh;
  background-repeat: no-repeat;
  background-position-x: -36rem;
  background-position-y: -13rem;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1350px) {
  .image {
    display: none;
  }
}

.image__woman {
  position: relative;
}

.image__woman .woman {
  width: 100%;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

@media screen and (max-width: 1350px) {
  .image__woman .woman {
    width: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 700px) {
  .image__woman .woman {
    width: 100%;
  }
}

.faq {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 1350px) {
  .faq {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
}

.faq h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1d1e35;
}

.faq .box {
  border-bottom: 1px solid #e7e7e9;
  color: #4a4b5e;
}

@media screen and (max-width: 1350px) {
  .faq .box {
    width: 100%;
  }
}

.faq .box__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6rem 0;
  cursor: pointer;
}

.faq .box__heading:hover {
  color: #f47c57;
}

.faq .box__heading p {
  font-size: 1.4rem;
  margin-right: auto;
}

.faq .box__heading .icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 1.5rem;
}

.faq .box__heading .icon--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .box__heading--active {
  color: #1d1e35;
  font-weight: 700;
}

.faq .box__heading--active:hover {
  color: #1d1e35;
}

.faq .box__details {
  margin-bottom: 1.6rem;
  display: none;
}

.faq .box__details--active {
  display: block;
  -webkit-animation: moveIn 0.3s ease-in-out;
          animation: moveIn 0.3s ease-in-out;
}

@-webkit-keyframes moveIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.attribution {
  position: absolute;
  bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */