@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dm-elements: hsl(209, 23%, 22%);
  --dm-background: hsl(207, 26%, 17%);
  --dm-text: hsl(0, 0%, 100%); // lm elements

  --lm-text: hsl(200, 15%, 8%);
  --lm-input: hsl(0, 0%, 52%);
  --lm-background: hsl(0, 0%, 98%);

  --box-shadow: 0 2px 10px rgba(128, 123, 123, 0.219);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--lm-background);
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--lm-text);
  line-height: 1.5;
  display: grid;
}

img {
  max-width: 100%;
  display: block;
}

.bold {
  font-weight: 800;
}

.homepage {
  display: grid;
  padding: 0 8rem;
}
