.nav {
  display: flex;
  padding: 1.5rem 8rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dm-text);
  box-shadow: var(--box-shadow);
  height: 7rem;

  @media only screen and (max-width: 37.5em) {
    padding: 1.5rem 5rem;
  }

  &__logo {
    font-size: 1.1rem;
    font-weight: 800;

    .logo {
      cursor: pointer;
      user-select: none;
    }
  }

  &__switcher {
    &-btn {
      text-decoration: none;
      color: currentColor;
      font-weight: 600;

      transition: all 0.2s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.darkmode .nav {
  background-color: var(--dm-elements);
  box-shadow: var(--boxsh-dark);
}
