.nav {
  display: flex;
  padding: 1.5rem 8rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dm-text);
  box-shadow: var(--box-shadow);

  &__logo {
    font-size: 1.1rem;
    font-weight: 800;

    .logo {
      cursor: pointer;
      user-select: none;
    }
  }

  &__switcher {
    &-btn {
      text-decoration: none;
      color: currentColor;
      font-weight: 600;
    }
  }
}
