@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --dm-elements: hsl(209, 23%, 22%);
  --dm-background: hsl(207, 26%, 17%);
  --dm-text: hsl(0, 0%, 100%);
  --lm-text: hsl(200, 15%, 8%);
  --lm-input: hsl(0, 0%, 52%);
  --lm-background: hsl(0, 0%, 98%);
  --box-shadow: 0 2px 10px rgba(128, 123, 123, 0.219);
  --boxsh-dark: 0 5px 5px rgba(0, 0, 0, 0.123);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--lm-background);
  font-size: 62.5%;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
}

.darkmode html {
  background-color: var(--dm-background);
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--lm-text);
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
}

img {
  max-width: 100%;
  display: block;
}

.bold {
  font-weight: 800;
}

.homepage {
  display: -ms-grid;
  display: grid;
  padding: 0 8rem;
}

@media only screen and (max-width: 37.5em) {
  .homepage {
    padding: 0 5rem;
  }
}

.darkmode {
  background-color: var(--dm-background);
  color: var(--dm-text);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--dm-text);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  height: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1.5rem 5rem;
  }
}

.nav__logo {
  font-size: 1.1rem;
  font-weight: 800;
}

.nav__logo .logo {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav__switcher-btn {
  text-decoration: none;
  color: currentColor;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__switcher-btn:hover {
  opacity: 0.8;
}

.darkmode .nav {
  background-color: var(--dm-elements);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  color: var(--lm-input);
}

@media only screen and (max-width: 37.5em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.form .search {
  position: relative;
  width: 35%;
}

@media only screen and (max-width: 37.5em) {
  .form .search {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.form .search__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  left: 2rem;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  cursor: pointer;
}

.form .search__input {
  padding: 1.5rem 5rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: currentColor;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--dm-text);
}

.darkmode .form .search__input {
  background-color: var(--dm-elements);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}

.darkmode .form {
  color: var(--dm-text);
  border: none;
  outline: none;
}

.dropdown {
  border-radius: 4px;
}

.filter {
  padding: 1rem 2rem;
  background-color: var(--dm-text);
  border: none;
  outline: none;
  color: var(--lm-input);
}

.darkmode .filter {
  background-color: var(--dm-elements);
  color: var(--dm-text);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}

.countries {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  min-height: 100vh;
}

.countries .country {
  max-width: 30rem;
  height: 40rem;
  background-color: var(--dm-text);
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media only screen and (max-width: 37.5em) {
  .countries .country {
    max-width: 100%;
  }
}

.countries .country:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.countries .country__flag {
  height: 50%;
}

.countries .country__flag img {
  -o-object-fit: cover;
     object-fit: cover;
}

.countries .country__info {
  padding: 2rem;
  height: 50%;
}

.countries .country__info .country-name {
  margin-bottom: 1rem;
}

.countries .country__info:last-child {
  margin-bottom: 2rem;
}

.darkmode .country {
  background-color: var(--dm-elements);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}

.details {
  display: none;
  font-size: 1.6rem;
  padding: 0 8rem;
  min-height: 100vh;
}

.details .btn-back {
  border: none;
  outline: none;
  background-color: aqua;
  padding: 1rem 4rem 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: var(--dm-text);
  margin: 5rem 0;
  -webkit-box-shadow: 0 2px 10px rgba(128, 123, 123, 0.459);
          box-shadow: 0 2px 10px rgba(128, 123, 123, 0.459);
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.details .btn-back:hover {
  opacity: .8;
}

.details .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 60em) {
  .details .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.details .content__flag {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.details .content__flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.details .content__detail {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 5rem 0;
}

.details .content__detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
  line-height: 1.7;
}

@media only screen and (max-width: 60em) {
  .details .content__detail-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.details .content__detail-info .left {
  margin-right: 5rem;
}

@media only screen and (max-width: 60em) {
  .details .content__detail-info .left {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}

.borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borders h3 {
  margin-right: 2rem;
}

.borders a:not(:last-child) {
  margin-right: 1rem;
}

.borders a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  background-color: var(--dm-text);
  padding: 0.3rem 1rem;
  -webkit-box-shadow: 0 2px 10px rgba(128, 123, 123, 0.459);
          box-shadow: 0 2px 10px rgba(128, 123, 123, 0.459);
  border-radius: 4px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.borders a:hover {
  opacity: .8;
}

.darkmode .btn-back {
  color: var(--dm-text);
  background-color: var(--dm-elements);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}

.darkmode .borders a {
  background-color: var(--dm-elements);
  -webkit-box-shadow: var(--boxsh-dark);
          box-shadow: var(--boxsh-dark);
}
/*# sourceMappingURL=main.css.map */